<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<div ng-controller="HomeController" class="container">

    <h3>Sua lista tem {{ products.length }} itens</h3>
    <input type="text" ng-model="filtro"/>
    <select ng-model="ordem">
        <option value="title">Título</option>
        <option value="category">Categoria</option>
    </select>

    <ul>
        <li ng-repeat="prd in products | filter: { 'title' : filtro } | orderBy: ordem">
            {{ prd.title }} - {{ prd.category }}
            <button ng-click="excluir(prd)">Excluir</button>
        </li>
    </ul>

    <hr/>

    <label>Produto:</label><br/>
    <input type="text" ng-model="product.title"/><br/>
    <br/>
    <label>Categoria:</label><br/>
    <input type="text" ng-model="product.category"/><br/>
    <br/>
    <button ng-click="adicionar()">Adicionar</button>
</div>


<script src="../bower_components/angular/angular.min.js"></script>
<script>
    angular.module('app', []);
    var app = angular.module('app');

    app.controller('HomeController', function ($scope) {
        $scope.product = {
            title: '',
            category: ''
        };
        $scope.products = [
            {title: "Mouse", category: 'Informática'},
            {title: "Teclado", category: 'Informática'},
            {title: "Monitor", category: 'Informática'},
            {title: "Mouse Pad", category: 'Informática'},
            {title: "Mouse Sem Fio", category: 'Informática'},
            {title: "Smartphone", category: 'Telefonia'},
            {title: "Mesa", category: 'Escritório'},
            {title: "Cadeira", category: 'Escritório'}
        ];

        $scope.adicionar = function () {
            //$scope.products.push({ title: "Novo Prd", category: 'Nova' });
            Adicionar();
        };

        $scope.excluir = function (prd) {
            console.log(prd);
            Remover(prd);
        };

        function Adicionar() {
            $scope.products.push($scope.product);
            $scope.product = {
                title: '',
                category: ''
            };
        }

        function Remover(prd) {
            var index = $scope.products.indexOf(prd);
            $scope.products.splice(index, 1);
            alert('Item ' + prd.title + ' excluido com sucesso!')
        }

        console.log($scope.products);
    });
</script>
</body>
</html>